<div class="box box-info">
  <div class="box-header with-border">
    <h3 class="box-title">Most Recent Transactions</h3>

    <div class="box-tools pull-right">
      <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
      </button>
      <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
    </div>
  </div>
  <!-- /.box-header -->
  <div class="box-body">
    <div class="table-responsive">
      <table class="table no-margin">
        <thead>
        <tr>
          <th>Check Number</th>
          <th>Payee</th>
          <th>Credit/Debit</th>
          <th>Description</th>
          <th>Amount</th>
          <th>Date</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let transaction of transactions" (click)="onSelect(transaction)"  [class.selected]="transaction === selectedTransaction">
          <td><a *ngIf="transaction.check_number!=null" href="pages/examples/invoice.html">{{ transaction.check_number }}</a></td>
          <td>{{ transaction.payee }}</td>
          <td><span *ngIf="transaction.transaction_type=='credit'" class="label label-danger">Credit</span><span *ngIf="transaction.transaction_type=='debit'" class="label label-success">Debit</span></td>
          <td>{{ transaction.description }}</td>
          <td>${{ transaction.amount }}</td>
          <td>{{ transaction.transaction_date }}</td>
        </tr>
        </tbody>
      </table>
    </div>
    <h2 *ngIf="transaction">HII</h2>
    <!-- /.table-responsive -->
  </div>
  <!-- /.box-body -->
  <div class="box-footer clearfix">
    <a href="javascript:void(0)" class="btn btn-sm btn-info btn-flat pull-left">Place New Order</a>
    <a href="javascript:void(0)" class="btn btn-sm btn-default btn-flat pull-right">View All Orders</a>
  </div>
  <!-- /.box-footer -->
<!-- /.box -->
</div>
